@import url("./variables.css");
@import url("./reset.css");
@import url("./layout.css");
@import url("./typography.css");


.primary-button {
    transition:all 1000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-radius: 30px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}


.primary-button.light-style{
    background-color: var(--white-color);

}

.primary-button.dark-style{
    background-color: var(--dark-button);
    color: var(--white-color);
    border-color: var(--dark-button);
}

.primary-button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--hover-color-light);
}
.primary-button.dark-style:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color:black;
    background-color: var(--hover-color-blue);
}

ul.nav-list{

    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    gap: 50px;
    border-radius: 30px;


}


.content-title{
    align-items: center;
    
   
}


.subscription-links{
    display: flex;
    gap: 30px;
    
    
}



.login {
    border-radius: 30px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}



a.loginlink-google {
    display: flex;
    border: var(--border);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    gap: 10px;
    width: 450px;
    font-size: 0.8em;    
    
       
}

a.loginlink-google:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 6px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: 1s;
    background-color: var(--hover-color-light);
}

.login .login-block{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    border: var(--border);
    gap: 20px;
    width: var(--layout-width);
    padding-left: 150px;
    
    
    
}
.login-block .login-text {
    color:var(--grey-color);
    font-weight: var(--paragraph-weight-regular);
}


.login-block.login-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--white-color);
    
}
.login-block.login-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--secondary-color);
    
}


.flex-full .service-list-element{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.service-list-element > .icon { 
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
}



.flex-full .design-offer-element {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 30px;
    
    width: 50%; 
}
.design-offer-element .text-container{
    width: 100%;
    padding: 50px;
}

.image-container {
    display: flex;
    width: 100%;
    margin: 50px 0;
}

.design-offer .option-list {
   width: 70%;
   
}

.image-container.position-center {
    justify-content: center;
}

.image-container.position-right {
    justify-content: flex-end;
} 