@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --primary-color: rgba(52,52,52,1);
    --primary-color-oppacity:rgba(52,52,52,0.8);
    --secondary-color: #d3d3d3;
    --white-color: white;
    --border: 1px solid #d3d3d3;
    --dark-button:rgba(0,82,255,0.8743872549019608);
    --layout-width: 1400px;
    --grey-color: #616161;
    --heading-weight-bold: 500;
    --paragraph-weight-light: 300;
    --paragraph-weight-regular:400;
    --paragraph-weight-bold:700;
    --hover-color-light: rgba(211,211,211,0.5);
    --hover-color-blue:rgba(0,82,255,0.9);
    --h1-size: 72px;
    --h2-size: 60px;
    --h3-size: 48px;
    --h4-size: 36px;
    --h5-size: 30px;
    --h6-size: 20px;
    --default-font-size: 18px;
}

body {
    color: var(--primary-color-oppacity);
    font-size: var(--default-font-size);
    line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6  {
    font-family: 'Rubik', sans-serif;
    line-height: 1.5em;
    color: var(--primary-color);
    font-weight: var(--heading-weight-bold);
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--paragraph-weight-regular);
}

h1{
    font-size: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
}
h3{
    font-size: var(--h3-size);
}
h4{
    font-size: var(--h4-size);
}
h5 {
    font-size: var(--h5-size);
}
h6 {
    font-size: var(--h6-size);
}



a{
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.content {
    max-width: 100%;
    min-height: 100vh;

}


.container{
    width: var(--layout-width);
    margin: 0 auto;
    height: auto;
    
        
}


header.header {
    width: 100%;
}


nav.navigation{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    

}

.navigation-wrapper{
    display: flex;
}



.primary-button {
    transition:all 1000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-radius: 30px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}


.primary-button.light-style{
    background-color: var(--white-color);

}

.primary-button.dark-style{
    background-color: var(--dark-button);
    color: var(--white-color);
    border-color: var(--dark-button);
}

.primary-button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--hover-color-light);
}
.primary-button.dark-style:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color:black;
    background-color: var(--hover-color-blue);
}

ul.nav-list{

    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    gap: 50px;
    border-radius: 30px;


}

.content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 150px 0px;
    justify-content: space-between;
    height: auto;
    gap: 50px;
   
}


.content-title{
    align-items: center;
    
   
}


.subscription-links{
    display: flex;
    gap: 30px;
    
    
}



.login {
    
    display: flex;
    justify-content: center;
    width: var(--layout-width);
    border-radius: 30px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
    
}



a.loginlink-google {
    display: flex;
    border: var(--border);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    gap: 10px;
    width: 450px;
    font-size: 0.8em;    
    
       
}

a.loginlink-google:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 6px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: 1s;
    background-color: var(--hover-color-light);
}

.login .login-block{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    border: var(--border);
    gap: 20px;
    width: var(--layout-width);
    padding-left: 150px;
    
    
    
}
.login-block .login-text {
    color:var(--grey-color);
    font-weight: var(--paragraph-weight-regular);
}


.login-block.login-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--white-color);
    
}
.login-block.login-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--secondary-color);
    
}

.service-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
    margin: 150px 0;
}
.service-list > .service-list-element{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.service-list > .service-list-element > .icon { 
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.design-offer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 150px 0;
    gap: 50px;
    

}

.design-offer .design-offer-element {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 30px;
    
    width: 50%; 
}
.design-offer-element .text-container{
    width: 100%;
    padding: 50px;
}

.image-container {
    display: flex;
    width: 100%;
    margin: 50px 0;
}

.design-offer .option-list {
   width: 70%;
   
}

.image-container.position-center {
    justify-content: center;
}

.image-container.position-right {
    justify-content: flex-end;
} 